{{#if isSecondary}}
    {{#foreach navigation}}
        <li><a class="{{#if current}} active{{/if}}" href="{{url}}">{{label}}</a></li>
    {{/foreach}}
{{else}}
    {{#foreach navigation}}
        <li><a class="nav-{{slug}}{{#if current}} active{{/if}}"  href="{{url}}">{{label}}</a></li>
    {{/foreach}}
{{/if}}