{{!< default}}

{{#if @member.paid}}
    {{!-- Logged in: Redirect home --}}
    <script>window.location = '{{@site.url}}';</script>
{{else if @member}}
    {{!-- Member: Redirect to Subscribe --}}
    <script>window.location = '{{@site.url}}/account/';</script>
{{else}}

<!-- subscribe section start from here    -->
<div class="subscribe-section py-50 pt-lg-100 pb-lg-100">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto text-center">
                <div class="section-title mb-40">
                    <h2>{{t "Signup to"}} {{@site.title}}</h2>
                    <p>{{@site.description}}</p>
                </div>
                <div class="signup-form">
                    <form data-members-form="signup">
                        <div class="signup-forms-content">
                            <input data-members-name class="form-control signup-name" type="text" required="true" autocomplete="false" placeholder="{{t "Enter your name"}}">
                            <input data-members-email class="form-control signup-email" type="email" required="true" autocomplete="false" placeholder="{{t "Enter your email"}}">
                            <button  type="submit" class="btn btn-primary btn-subscribe text-white p-0">
                                <span class="button-text">{{t "Signup"}}</span>
                                <span class="button-loader">{{> "icons/loader"}}</span>
                            </button>
                        </div>
                        <p>{{t "Already have an account?"}}&nbsp;<a href="{{@site.url}}/signin/">{{t "Sign in"}}</a></p>
                        <div class="message-text">
                            <div class="message-success">
                                {{{t "<strong>Great!</strong> Check your inbox and click the link to confirm your subscription"}}}
                            </div>
                            <div class="message-error">
                                {{t "Please enter a valid email address!"}}
                            </div>
                        </div>
                    </form>
                </div>
            </div>   
        </div>
    </div>
</div>
<!-- // subscribe section end from here   -->
{{/if}}